:root{
    --primary-color: #FEDC00;
    --icon-color: #252525;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;
}
header{
    grid-area: content;
    place-self: start center;
    margin-top: 48px;
    max-width: 1200px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    height: 100vh;
}

.projetos{
   
    width: 100%;
}
.contato{
    
    width: 100%;
}
footer{
    place-self: end start;
    width: 100%;
    grid-area: content;
    height: 50px;
    background-color: #0008;
    display: grid;
    font-size: .75rem;
    place-content: center;
    border-top: 2px solid #fff;

}

/*Responsividade para Tablet*/
@media (max-widht: 960px) {
    
}